.cardContainer{
    padding: 15px;
    background-color: white;
    width: 350px;
    border-radius: 10px;
    border: 2px solid rgb(209, 209, 209);
    margin: 0 0 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0 , 0.1);
}
.cardTicketHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}
.userPhoto{
    width: 20px;
    height: 20px;
}
.circlePic{
    width: 15px;
    height: 15px;
    padding: 11px 10px 0 0;
}
.ticketID{
    color: lightgray;
    margin: 0;
}
.ticketNameSection{
    display: flex;
    word-wrap: break-word;
    margin-top: 5px;
    max-height: 50px;
    overflow: hidden;
}
.ticketName{
   margin: 3% 0;
   font-size: 15px;
   min-height: 60px;
   font-weight: 500;
   display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.ticketTypeSection{
    margin-top: 12px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.disclaimer{
    width: 20px;
    height: 20px;
}
.circle{
    width: 20px;
    height: 20px;
}
.ticketType{
    display: flex;
    gap: 10px;
    border: 1px solid  rgb(206, 206, 206);
    padding: 5px;
    border-radius: 6px;
}
.ticketID{
    color: black;
    font-weight: 400;
}

.priorityIcons{
    width: 15px;
    height: 15px;
    border: 1px solid rgb(206, 206, 206);
    padding: 5px;
    border-radius: 5px;
}

.feature{
    margin: 0;
    padding: 1px 0 0 0;
    font-size: 12px;
    font-weight: 400;
}
@media (max-width: 426px) {
    .cardContainer{
        width: 90%;
    }
}