.App {
 background-color: rgb(237, 235, 235);
 height: 100vh;
}
.displayFilter{
  padding: 10px 0 10px 20px;
  background-color: white;
}
.newDisplay{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  max-height:25px;
  cursor: pointer;
}
.filterSettings{
  margin-top: 3px 0;
}
.columnsContainer{
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 0 0 100px 0;
  margin: 0 24px;
  overflow-x: scroll;
  gap: 30px;
}
.column{
  display: flex;
  flex-direction: column;
  max-width: 375px;
}
.columnHeadingSection{
  display: flex;
  padding: 0 15px 0 15px;
  margin-bottom: 10px;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  align-items: center;
  max-width: 350px;
}
.columnHeadingIcons{
  display: flex;
  padding: 0 20px 0 3px;
  justify-content: space-between;
  width: 40px;
  align-items: center;
}
.statusIcon{
  margin: 0 20px 0 0;
}
.columnHeading{
  min-width: 150px;
}
@media (max-width: 426px) {

  .columnsContainer{
    grid-template-columns: auto;
  }
  .columnHeadingSection{
    max-width: 375px;
  }
}